@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
      
      body {
        background-color: #C0C0C0;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
      }

      .picture {
        border-radius: 30%;
        width: 300px;
        margin-left: 10px; 
      }

      h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        color: #252525;
      }

      .header {
        background-color: #8C8C8C;
        border-radius: 10px;
      }

      .introduction {
        text-align:left;
        font-size: 20px;
        display: inline-block;
        margin-left: 10px;
        margin-top: 30px;
        position:absolute;
      }

      .icon {
        width: 40px;
      }

      .hyperlinks {
        background-color: #252525;
        color: #fff;
        font-weight: 900px;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
      }

      .hyperlinks:hover {
        background-color: #aa8a30;
        color: #252525;
      }

      .hyperlinks-down {
        text-align: center;
        margin-top: 20px;
      }
    
      .icon:hover {
        background-color: #aa8a30;
        border-radius: 50%;
      }

      